.countdownContainer {
  display: flex;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;;
  font-weight: 600;
  color: var(--title);
}

.countdownContainer > div {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  background: var(--white);
  box-shadow: 0 0 60px rgba(0,0,0, .05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.countdownContainer > div span {
  flex: 1;
}

.countdownContainer > div span:first-of-type {
 border-right: 1px solid #f0f1f3; 
}

.countdownContainer > div span:last-of-type {
 border-left: 1px solid #f0f1f3; 
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 .25rem;
}